.indicators {
  background-image: linear-gradient(
    to bottom left,
    rgb(0, 0, 0),
    rgb(15, 16, 55)
  ) !important;
  border: 1px lightgray solid;
  margin-top: -48px;
  margin-left: 16px;
  width: 1481px;
  height: 310px;
}
