.order-entry {
  background-image: linear-gradient(
    to bottom left,
    rgb(0, 0, 0),
    rgb(15, 16, 55)
  ) !important;
  border: 1px lightgray solid;
  /* margin-top: -425px;
  margin-left: 800px;
  width: 450px;
  height: 500px; */
  padding: 2%;
  display: flex;
  flex-direction: column;
  grid-area: oe;
}

.input-label {
  color: white !important;
  font-size: 0.85rem;
  font-weight: bold;
}

.select-input,
.date-input {
  background-color: rgb(10, 10, 50);
  color: white !important;
  border-radius: 5px;
}

.select-input div {
  border: none !important;
}

.date-input div {
  color: white !important;
}

.number-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(10, 10, 50);
  border-radius: 5px;
  padding: 0.5rem;
  width: 100%;
}

.number-textfield {
  width: 100px;
  border: white solid 2px !important;
  border-radius: 5px;
}

.icon-button {
  color: white !important;
}

.order-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

.buy-button {
  background-color: #00aaff !important;
}

.sell-button {
  background-color: #ff4c4c !important;
}

.number-textfield input {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.icon-button {
  width: 20px;
}

button.confirm-button {
  margin: 0.5rem !important;
  color: white !important;
  font-weight: bold !important;
  width: 48%;
}

label {
  color: white !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.strike-title {
  color: white !important;
}

.table-head {
  color: white !important;
}

.header-cell {
  color: white !important;
}

.value-cell {
  color: white !important;
}

.strike-cell {
  color: white !important;
}

.oe-table-container {
  flex-grow: 1;
  overflow-y: auto;
  max-height: 100vh !important;
}
