.portfolio {
  background-image: linear-gradient(
    to bottom left,
    rgb(0, 0, 0),
    rgb(15, 16, 55)
  ) !important;
  border: 1px lightgray solid;
}

.table-container {
  max-height: 25vh;
  overflow-y: auto;
  font-size: 10px;
}

.table-head {
  text-align: center;
  font-size: 12px;
  font-weight: 600;
}

.table-body {
  text-align: center;
}

.table-body .MuiTableRow-root {
  height: 20px;
}

.dte-row {
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 11px;
}

.dte-row .date-text {
  font-size: 11px;
}

.dte-row .text {
  font-size: 10px;
}

.total-pnl {
  color: white !important;
  bottom: 0;
  background-color: transparent !important;
  z-index: 1;
}

.total-pnl > p {
  padding: 5px !important;
}
