.portfolio {
  background-image: linear-gradient(
    to bottom left,
    rgb(0, 0, 0),
    rgb(15, 16, 55)
  ) !important;
  border: 1.34px lightgray solid;
  /* margin-top: -190px;
  margin-left: -355px; */
  /* width: 1480px; */
  grid-area: p;
}

.transparent-background {
  background-color: transparent !important;
}

.dte-row {
  background-color: rgba(255, 255, 255, 0.1);
}

.dte-row td {
  padding: 0 !important;
}

.table-container {
  max-height: 25vh;
  overflow-y: auto;
}

.total-pnl {
  color: white !important;
  bottom: 0;
  background-color: transparent !important;
  z-index: 1;
}

.total-pnl > p {
  padding: 3px !important;
}

.text {
  font-size: 18px;
  color: white;
  font-weight: bold;
}

.table-container th,
.table-container td {
  padding: 8px;
  word-wrap: break-word;
}
