.table-head {
  /* the center between call to puts */
  background: rgb(56, 58, 90) !important;
  color: white !important;
}

.table-head th {
  /* all the titles in the tables */
  color: white !important;
  padding: 5px;
  background-color: rgb(56, 58, 90);
}

.table-body tr td {
  /* the table */
  color: white;
  padding: 3px;
}

/* .css-dsuxgy-MuiTableCell-root {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.4;
  letter-spacing: 0.01071em;
  display: table-cell;
  vertical-align: inherit;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  text-align: right;
  padding: 6px 16px;
  color: rgba(0, 0, 0, 0.87);
} */

.strike-header {
  /* the text strike in the table */
  background-color: rgb(103, 102, 132) !important;
  color: white;
}

.strike-cell {
  /* the col of strike */
  background-color: rgb(9, 6, 91);
  color: white;
}

.symbol-select {
  /* when you select the symbol */
  color: white !important;
  font-weight: 520 !important;
}
