.simulator-controls {
  /* the pattern of Simulation Controls */
  background-image: linear-gradient(
    to bottom left,
    rgb(0, 0, 0),
    rgb(15, 16, 55)
  ) !important;
  border: 1px lightgray solid;
  margin-top: 5px;
  margin-left: 15px;
  width: 1490px;
}

.panel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 35px;
}

.slider-container {
  width: 33%;
}

.slider-container span.MuiSlider-markLabel {
  color: white !important;
}

.time-slider {
  width: 95%;
  margin: auto;
}

.speed-control-button {
  margin: 0 !important;
}
.speed-control-icon {
  color: rgb(0, 67, 255) !important;
}

.slider-container {
  width: 33%;
}

button.finish-button,
button.restart-button {
  margin: 0.5rem !important;
  height: 20px;
  width: 40%;
  color: black !important;
  font-weight: bold !important;
}

.time-slider {
  width: 95%;
  margin: auto;
}

.finish-button {
  background: rgb(98, 255, 123) !important;
}

.restart-button {
  background: rgb(0, 67, 255) !important;
}

.clock-display {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.clock-display:hover {
  opacity: 0.7;
}

.clock-time {
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.popover-content {
  display: flex;
  align-items: center;
  padding: 10px;
}

.popover-content span {
  margin: 0 5px;
}

.popover-content .colon {
  font-size: 24px;
  font-weight: bold;
}

.popover-content .invalid-input fieldset {
  border-color: red;
}

.popover-content .change-button {
  background-color: transparent;
}
