.simulator-controls {
  /* the pattern of Simulation Controls */
  background-image: linear-gradient(
    to bottom left,
    rgb(0, 0, 0),
    rgb(15, 16, 55)
  ) !important;
  border: 1px lightgray solid;
}

.panel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 35%;
}

.slider-container {
  width: 33%;
}

.slider-container span.MuiSlider-markLabel {
  color: white !important;
}

.time-slider {
  width: 95%;
  margin: auto;
}

.speed-control-button {
  margin: 0 !important;
}
.speed-control-icon {
  color: rgb(0, 67, 255) !important;
}

.slider-container {
  width: 33%;
}

button.finish-button,
button.restart-button {
  margin: 0.5rem !important;
  height: 15%;
  width: 40%;
  color: white !important;
  font-weight: 500 !important;
}

.time-slider {
  width: 95%;
  margin: auto;
}

.finish-button {
  background: #ca2222 !important;
}

.restart-button {
  background: rgb(0, 67, 255) !important;
}
